body{
    margin: 2%;
    font-family: "Poppins";
    height: 100%;
}
/* Navbar CSS */
nav{
    display: flex;
    gap: 5rem;
}
.nav-items{
    font-family: "Fredoka One";
    display: flex;
    gap: 4rem;
    margin-top: -30px;
    margin-left: 10rem;
}
.active-item{
    color: #FE5E35;
}
.nav-item{
    font-family: "Poppins";
    padding: 2px 20px;
    font-size: 1rem;
    font-weight: 500;
}
nav>img{
    height: 40px;
}
nav div+img{
    height: 40px;
    width: 80%;
}
/* Hero Section */
.intro-section{
    display: flex;
    gap: 10rem;
    margin: 1rem 0 0 3.5rem;
}
.left-section{
    display: flex;
    flex-direction: column;
}
.left-section h3{
    font-size: 35px;
    font-family: "Poppins";
}
.left-section h3 img{
    position: relative;
    top: 13px;
    left: 3px;
    width: 50px;
    height: 50px;
}
.left-section h1{
    font-size: 80px;
    font-weight: 900;
    margin-top: -3rem;
    font-family: "Fredoka One";
}
.sub-headlines{
    font-size: 22px;
}
.sub-headline{
    margin-left: 5rem;
    margin-top: -20px;
    justify-content: center;
}
.sub-headline img{
    border-radius: 50%;
    justify-content: center;
    background-color: #FE5E35;
    padding: 4px;
    margin-top: -1px;
    margin-bottom: -10px;
    margin-right: 10px;
}
.text{
    font-size: 10px;
    color: #adaaaa;
    margin-left: 15px;
    margin-right: 180px;
    text-align: justify;
}
.action-btn{
    border: none;
    background-color: #FE5E35;
    border-radius: 20px;
    margin-right: 30px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.right-section{
    display: flex;
    flex-direction: column;
}
.discount{
    position: absolute;
    top: 370px;
    left: 980px;
    width: 120px;
    height: 150px;
    z-index: 1;
}
.discount-content{
    position: absolute;
    margin-left: 25px;
    color: #ffffff;
    padding: 0;
    top: 370px;
    left: 980px;
    z-index: 2;
    width: 200px;
    height: 150px;
}
.discount-content h4{
    margin-top: 45px;
    margin-bottom: -28px;
}
.right-section img:last-child{
    height: 60vh;
    padding: 1rem 3rem 0 7rem;
    z-index: -1;
}
.dots{
    display: flex;
    margin: 0 40%;
}
.dot{
    margin: 0 1rem;
    border-radius: 50%;
    padding: 10px;
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: red;
}
.black-dot{
    background-color: black;
}
.right-section button{
    width: 40%;
    margin: 5% 33%;
}
